.burger-menu-container {
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-content: center; /
  }
  
  /* Estilos para BurgerItem */
  .burger-card {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .11);
  }
  
  .burger-card img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
  }

  .title-menu-burge{
    
    padding-top: 50px;
    padding-bottom: 50px;
    color:#173083;
    font-size: 45px;
  }
  .burger-card button{
    background-color: #173083;
    width: 80%;
    margin-top: 20px;
    height: 50px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .burger-card button a {
    list-style: none;
    text-decoration: none;
    color:white;
  }

  .burger-card h3{
    padding-top:20px;
  }

  .container-burger-menu-header{
    display: grid;
    grid-template-columns: 80% 10%;
  }

  .paginas-promocion{
      margin-top: 20px;
      background-color: #173083;
      width:50px;
      color:white;
      border-radius: 20px;
      text-align: center;
  }