
.menu-navegacion-combos{
    border: 1px solid #173083;
    border-radius: 12px;
    margin: 50px;
    height: 50px;

}

.menu-navegacion-combos nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
    gap:30px
}

.menu-navegacion-combos nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}



.burger-combo-menu-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container-combos-bembos h2{
    color:#173083;
   padding-bottom: 20px;
}

.terminos-condiciones span{
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}